<!DOCTYPE html>
<html>
<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>


    <script src="//cdn.bootcss.com/react/15.0.2/react.js"></script>
<script src="//cdn.bootcss.com/react/15.0.2/react-dom.js"></script>

    <script src="//cdn.bootcss.com/antd/2.3.2/antd.js"></script>
<link href="//cdn.bootcss.com/antd/2.3.2/antd.css" rel="stylesheet">


    <script src="//cdn.bootcss.com/moment.js/2.16.0/moment-with-locales.min.js"></script>


</head>
<body>
<div id="app"></div>
</body>
</html>
